<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"><%= title %></h1>
        <p class="lead text-muted">Faciliter la collecte des stacks des missions Octo dans le but de les partager et de voir la tendance actuelle</p>
    </div>
</section>

<div class="album text-muted">
    <div class="container">

        <div class="row" id="project-list">
            <% for(var i = 0; i < projects.length; i++) { %>
            <div class="card">
                <a href="/projects/<%= projects[i]._id %>/edit">
                    <div class="card-block">
                        <h4 class="card-title"><%= projects[i].name %></h4>
                    </div>

                    <% if(projects[i].image){ %>
                    <img src="http://res.cloudinary.com/dyfaki2cl/image/upload/c_pad,h_180,w_318/<%=projects[i].image %>" alt="<%= projects[i].name %>">
                    <% } else{ %>
                    <img src="/images/projects/no-image.svg" alt="<%= projects[i].name %>">
                    <% } %>

                </a>
                <div class="card-block stacks">
                    <% if (projects[i].stacks) { %>
                        <% projects[i].stacks.split(',').forEach(function(stack) { %>
                        <img class="img-circle" src="/images/<%=stack.trim()%>.png" alt="<%=stack%>" title="<%=stack%>">
                        <% }) %>
                    <% } %>
                </div>
            </div>
            <%}%>
        </div>

    </div>
</div>